---
import "../css/global.css";
import "../css/video.css";

import fs from "fs";
import path from "path";

function getFiles(dir, files = []) {
  // Get an array of all files and directories in the passed directory using fs.readdirSync
  const fileList = fs.readdirSync(dir);
  // Create the full path of the file/directory by concatenating the passed directory and file/directory name
  for (const file of fileList) {
    const name = `${dir}/${file}`;
    // Check if the current file/directory is a directory using fs.statSync
    if (fs.statSync(name).isDirectory()) {
      // If it is a directory, recursively call the getFiles function with the directory path and the files array
      getFiles(name, files);
    } else {
      // If it is a file, push the full path to the files array
      files.push(name);
    }
  }
  return files;
}

const filesInTheFolder = getFiles("src/pages/videosrc");

let link = "src/pages/videosrc" + Astro.url.pathname + ".mp4";
let title = Astro.url.pathname.replaceAll("/", "").replaceAll(".mp4", "");

let title1 = title.charAt(0).toUpperCase() + title.slice(1);
let titlefinal = decodeURI(title1);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Player</title>
  </head>
  <body>
    <div class="container">
      <div class="videoc">
        <video class="video" controls>
          <source src={link} type="video/mp4" />
        </video>
      </div>
      <p>{titlefinal}</p>
    </div>
    <div class="containerdownload">
      <p>Video scaricati</p>
      <div class="downloaded" id="videos"></div>
    </div>
    <script define:vars={{ filesInTheFolder }}>
      let i = 0;

      const videos = document.getElementById("videos");

      filesInTheFolder.forEach((element) => {
        let filename = filesInTheFolder[i]
          .replaceAll("src/pages/videosrc/", "")
          .replaceAll(".mp4", "");
        const div = document.createElement("div");
        let thumb = document.createElement("video");
        let a = document.createElement("a");
        let a2 = document.createElement("a");
        let p = document.createElement("p");
        thumb.src = filesInTheFolder[i] + "#t=" + Math.random() * 26;
        thumb.classList.add("thumbnail");
        thumb.classList.add("videosrc");

        a.href = filename;

        p.innerText = filename;

        a2.href = filename;
        a2.classList.add("downloadedvideos");

        a.appendChild(p);

        div.appendChild(thumb);
        div.appendChild(a);

        a2.appendChild(div);
        videos.appendChild(a2);
        i++;
      });

      let old = JSON.parse(localStorage.getItem("Cronologia"));
      if (old == null) {
        let arr = [];
        let location = window.location.href;
        arr.push(location);
        document.cookie =
          "crono=" +
          JSON.stringify(arr) +
          ";path=/;expires=Fri, 31 Dec 9999 23:59:59 GMT";
        localStorage.setItem("Cronologia", JSON.stringify(arr));
      } else if (old[5] != undefined) {
        old.splice(0, 1);
        let location = window.location.href;

        old.push(location);

        document.cookie =
          "crono=" +
          JSON.stringify(old) +
          ";path=/;expires=Fri, 31 Dec 9999 23:59:59 GMT";
        localStorage.setItem("Cronologia", JSON.stringify(old));
      } else {
        let location = window.location.href;

        let n = 0;
        old.forEach((element) => {
          if (element == location) {
            n = 1;
          }
        });

        if (n == 0) {
          old.push(location);
          document.cookie =
            "crono=" +
            JSON.stringify(old) +
            ";path=/;expires=Fri, 31 Dec 9999 23:59:59 GMT";
          localStorage.setItem("Cronologia", JSON.stringify(old));
        } else {
        }
      }
    </script>
    <script>
      const videohov = document.querySelectorAll(".videosrc");

      videohov.forEach(function (vid) {
        vid.onmouseover = function () {
          this.play();
          this.playbackRate = 1.5;
          this.muted = true;
        };
        vid.onmouseout = function () {
          this.load(); // stop and show poster
        };
      });
    </script>
  </body>
</html>
